doctype html
html
    head
        title="Logged"
        style
            include ../css/logged.css
    body
        img.passed(src='https://camo.githubusercontent.com/38de124f237b8c4a09d3e08a1ad6872490033689/687474703a2f2f692e696d6775722e636f6d2f486d59677033372e6a7067')
