doctype html
html
    head
        title="Login"
        style
            include ../css/style.css
    body
        div.container
            img(src='https://cdn2.iconfinder.com/data/icons/lil-faces/241/lil-face-1-512.png')
            input#login(type="text" placeholder="login")
            input#password(type="password" placeholder="password")
            button
              a(href="/auth/google") Log in
